.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* width: 500px; */
    width: 100%;
    /* height: 500px; */
    height: 100%;
    border: 0px solid black;
    padding: 4px;
    box-sizing: border-box;
    background-color: rgb(74, 74, 187);
    flex: auto;
    margin: auto;
    
}

.grid-item {
    border: 1px solid black; 
    box-sizing: border-box;
    background-color: #eee;
    margin: 0;
    
    
    
    
}

.grid-item:hover {
    background-color: #ddd;
}

.grid-item:focus {
    background-color: black;
}

